<!DOCTYPE html><html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><div class="w3-container w3-green">    

<% if (okOrNot=="ok") { %>
        <h1>update Successful</h1>
        <% }else{ %>
        <h1>update fail</h1>
        <% } %>
        <a href="/updatedata">Click here return to login page</a>
</div></body></html>    
