<!DOCTYPE html><html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><div class="w3-container w3-green">    
<form class="update-form" method="post" action="updatedata" enctype="multipart/form-data">
	restid: <input type="text" name="restid" minlength=1><br>
	restname: <input type="text" name="name" minlength=1><br>
	borough: <input type="text" name="borough" minlength=1><br>
	cuisine: <input type="text" name="cuisine" minlength=1><br>
	photo: <input type="file" name="photoToUpload"><br>
	<h3>address:</h3>
		street: <input type="text" name="street" minlength=1><br>
		building: <input type="text" name="building" minlength=1><br>
		zipcode: <input type="text" name="zipcode" minlength=1><br>
		coord: <input type="text" name="coord" minlength=1><br>
	<h3>grades:</h3>
		user: <input type="text" name="user" minlength=1><br>
		score: <input type="text" name="score" minlength=1><br>
	owner: <input type="text" name="owner" minlength=1><br>
<input type="submit">
</form>
</div></body></html>    
