<!DOCTYPE html>
<html>

<head>
    <title>Restaurants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/read.css">
</head>
<body>
    <div>
        <h1>Restaurants</h1>
        <h2>User: <%=userName%></h2>
        <h2>Showing 121 documents</h2>
    </div>
    <div>
        <button>Create new restaurant</button>
        <a href="/logout"><button>Logout</button></a>
        <table>
            <tr><td><a href="">a</a></td></tr>
            <tr><td><a href="">b</a></td></tr>
        </table>
    </div>
</body>
</html>